# Debugging and Lining
pylint

# FastAPI
uvicorn[standard] #ASGI server
fastapi
python-multipart
pydantic # validation library
pydantic-settings
#email-validator # allows pydantic to validate email addresses

# auth
python-jose
passlib # password hashing library (bcrypt)

# API Client
requests

# SQL/Postgres
# databases[postgresql] # async interface to some databases including postgres
SQLAlchemy # ORM library
# asyncpg
alembic # DB migration tool, which works with SQLAlchemy
psycopg2-binary

# Tests
pylint
pytest
