/*
 * nav: 56px
 * footer: 50px
 * library-tab: 57px
 * tab-padding: 32px
 *
 */
:root {
  --player-height: calc(100vh - 56px - 50px);
  --library-height: calc(100vh - 56px - 50px - 57px - 32px);
  --stats-height: calc(100vh - 56px - 56px - 45px - 40px);

  /* NOTE: maybe remove */
  --visualizer-height: calc(100vh - 56px - 56px - 45px - 40px - 112px);
}
